 body {
 	background-color: grey;
 /*	background-image: url("../images/2.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
*/
 }

 .container {
 	width: 100%;
 	height: 700px;
 	background-color: #000043;
 	margin: 0 auto;
 	overflow: hidden;/*
  background-color: #002;*/
 		background-image: url("../extra/7.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;

 	 }

   #head {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: deeppink;
    text-shadow: 0 1px 0 cyan, 0 2px 0 cyan, 0 3px 0 cyan, 0 4px 0 pink, 0 7px 10px #555;
    margin: 0;
   }
 .display {
 	height: 15%;
 	background-color: silver;
  margin: 0;
 	width: 90%;
 	margin-left: 5%;
 	border-radius: 20px;
 	border-top-right-radius: 10px;
 	border-top-left-radius: 10px;
 	padding: 10px;
 	background-image: url("../8.jpeg");
 	/*background-repeat: no-repeat;
 	background-size: cover;
*/
 }
 .inner {
 	height: 100%;
 	width: 96%;
 	color:deeppink;
 	font-size: 40px;
 	text-align: center;
 	text-shadow: 0 1px 0 cyan, 0 2px 0 cyan, 0 3px 0 cyan, 0 4px 0 pink, 0 7px 10px #555;
	z-index: 4;
 	background-color: #ccc;
 	margin-left: 2%;
 	border-radius: 40px;
 	border-top-right-radius: 10px;
 	border-top-left-radius: 10px;
   background-image: url("../images/4.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
 box-shadow: 5px 5px 8px #488;
 }
 .nums{
    color: cyan;
 	margin-left: 5%;
 	margin-top:  3%;
 }
 #next{
       	background-image: url("../images/44.jpeg");
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
  display: inline-block;

}
 #back1 {
       	background-image: url("../images/46.jpg");
 	background-repeat: no-repeat;
 	background-size: 100% 100%;

}
 .nos img {
  color: deeppink;
 	min-width: 25%;
 	height: 60px;
 	background-color: tan;
    display: inline;
    float: left;
    margin: 1.5%;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    /*	background-image: url("../8.jpeg");
*/ 	/*background-repeat: no-repeat;
 	background-size: cover;
*/border-right: 5px solid grey;
border-left: 5px solid grey;
border-top: 5px solid silver;
border-bottom: 5px solid silver;
 }

 .nos img:hover {
  height: 100px;
  width: 35px;
 }
 a {
 	text-decoration: none;
 }



#one {
  border-right: 5px solid #000088;
border-left: 5px solid #000088;
border-top: 5px solid #000077;
border-bottom: 5px solid #000077;

}
#two {
  border-right: 5px solid #ff0000;
border-left: 5px solid #ff0000;
border-top: 5px solid #aa0000;
border-bottom: 5px solid #aa0000;

}

#three {
  border-right: 5px solid #006688;
border-left: 5px solid #006688;
border-top: 5px solid #004477;
border-bottom: 5px solid #004477;

}

#four {
  border-right: 5px solid #880088;
border-left: 5px solid #880088;
border-top: 5px solid #770077;
border-bottom: 5px solid #770077;

}
#five {
  border-right: 5px solid #99aa00;
border-left: 5px solid #99aa00;
border-top: 5px solid #ffff00;
border-bottom: 5px solid #ffff00;

}
#six {
  border-right: 5px solid #888800;
border-left: 5px solid #888800;
border-top: 5px solid #777700;
border-bottom: 5px solid #777700;

}

#seven {
  border-right: 5px solid #ff7777;
border-left: 5px solid #ff7777;
border-top: 5px solid #ff5555;
border-bottom: 5px solid #ff5555;

}
#eight {
  border-right: 5px solid #00aaaa;
border-left: 5px solid #00aaaa;
border-top: 5px solid #00cccc;
border-bottom: 5px solid #00cccc;

}

#nine {
  border-right: 5px solid #00ff00;
border-left: 5px solid #00ff00;
border-top: 5px solid #00aa00;
border-bottom: 5px solid #00aa00;

}
#ten {
  border-right: 5px solid #000022;
border-left: 5px solid #000022;
border-top: 5px solid #000044;
border-bottom: 5px solid #000044;

}
#next {
  border-right: 5px solid #660022;
border-left: 5px solid #660022;
border-top: 5px solid #880022;
border-bottom: 5px solid #880022;

}

#back1 {
  border-right: 5px solid #ff00aa;
border-left: 5px solid #ff00aa;
border-top: 5px solid #ff00cc;
border-bottom: 5px solid #ff00cc;

}






